/* Import your custom font */
@font-face {
  font-family: 'CryptoFunky';
  src: url('/fonts/CryptoFunky.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Extend Tailwind with custom colors based on your logo */
@layer base {
  :root {
    --primary-color: #0D47A1;
    /* Main color from the logo */
    --accent-color: #64FFDA;
    /* Accent color from the logo */
    --background-color: #0A192F;
    /* Dark background color */
    --hover-color: #8892B0;
    /* Lighter shade for hover state */
    --button-hover-color: #7F8C8D;
    /* Darker shade for button hover */
    /* Adjust the color variables based on the actual logo colors */
  }

  html,
  body {
    color: #fff;
    background-color: var(--background-color);
    font-family: 'CryptoFunky', sans-serif;
  }

  /* Styles for the header component */
  header {
    background-color: var(--background-color);
    border-bottom: 2px solid var(--accent-color);
  }

  /* Navbar and links styling */
  nav {
    color: var(--accent-color);
  }

  nav a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  nav a:hover {
    color: var(--hover-color);
  }

  /* Apply a global button style as an example */
  button {
    background-color: var(--accent-color);
    color: var(--background-color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: var(--button-hover-color);
  }

  .navbar {
    background-color: var(--primary-color);
    /* Adjust this variable as needed or replace it with a specific color */
    padding: 1rem;
  }

  .navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .navLink {
    text-decoration: none;
    color: #ffffff;
    /* Or use a CSS variable like var(--text-color) */
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .navLink:hover,
  .navLink:focus {
    background-color: var(--accent-color);
    /* Adjust or replace with specific color */
  }

  .active {
    background-color: var(--accent-color);
    /* For active link, adjust or replace with specific color */
  }

  .navLink.active {
    background-color: #666;
    /* Adjust for active state as needed */
  }
}